body {
  font-family: "Roboto", "Raleway", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  width: 1600px;
  margin: 0 auto;
}

:root {
  --color-blue: #2196f3;
  --color-p: #757575;
  --color-darkbackground: #2f303a;
  --color-white: #ffffff;
  --color-light-grey: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.accent {
  color: var(--color-blue);
}

.header {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.div-for-bottom-line {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.div-with-logo-and-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-with-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-p);
}

.is-active {
  position: relative;
}

.is-active::after {
  content: "";
  position: absolute;
  background: var(--color-blue);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  display: block;
}

.portfolio-item {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0;
  gap: 30px;
}

.image-and-overlay {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 370px;
  height: 294px;
}
.overlay {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
  padding: 63px 24px 93px 24px;
  z-index: 1;
}

.portfolio-item-div:hover .overlay,
.portfolio-item-div:focus .overlay {
  transform: translateY(0);
}

.porftolio-item-li figcaption {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-item-div {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-div:focus,
.portfolio-item-div:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

figcaption h4 {
  margin-bottom: 4px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--color-blue);
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 261px;
  padding-left: 0px;
  margin-left: 93px;
}
.nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active a {
  color: var(--color-blue);
}

.is-active .portfolio a {
  color: var(--color-blue);
}

.nav a:hover,
.nav a:focus {
  color: var(--color-blue);
}

.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-p);
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
}

.contact-header:hover,
.contact-header:focus {
  color: var(--color-blue);
}

.h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color-white);
  padding-bottom: 30px;
}

.main-section {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mainpage/main-big-photo.jpg);
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

.order-button:hover,
.order-button:focus {
  cursor: pointer;
}

.about-us {
  background-color: var(--color-white);
}

.about-us h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 30px;
}

.about-us p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-p);
}

.about-us-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.grey-backgorund-for-icon {
  box-sizing: border-box;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px 100px;
}

.about-us .what-we-do {
  padding-top: 0px;
}

.picture-with-description {
  position: relative;
}

.picture-with-description > .description {
  position: absolute;
  top: 224px;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.what-we-do-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.h2-our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-bottom: 50px;
  text-align: center;
}
.h2-what-we-do {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  padding-bottom: 50px;
  text-align: center;
}

.our-team {
  background-color: var(--color-light-grey);
}

.our-team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.our-team-list h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  padding-top: 30px;
  padding-bottom: 10px;
}

.our-team-list p {
  font-size: 16px;
  line-height: 1.17;
  padding-bottom: 16px;
  color: var(--color-p);
}

.our-team-list figure {
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list figcaption {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.icon-social-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 0px;
}

.icon-social-li > a {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}
.icon-social-li > a:focus,
.icon-social-li > a:hover {
  background-color: var(--color-blue);
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.icon-social-li > a:focus svg,
.icon-social-li > a:hover svg {
  fill: var(--color-white);
}
.icon-social {
  fill: #afb1b8;
  padding: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-custom h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-custom-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-top: 50px;
}

.our-custom-list-li {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-custom-list-a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0px 14px 0px;
  width: 100%;
}

.our-custom-list-li:hover,
.our-custom-list-li:focus-within {
  cursor: pointer;
  border-color: var(--color-blue);
}
.icon-our-customs {
  fill: #afb1b8;
}
.our-custom-list a:focus {
  outline: none;
}

.our-custom-list-li a:hover svg,
.our-custom-list-li a:focus svg {
  fill: var(--color-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--color-light-grey);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-button-list ul {
  list-style: none;
}

.portfolio-button-list-open {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-bottom: 50px;
}

img {
  display: block;
}

.portfolio-item h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portolio-item-p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-p);
}

.fotter-for-background {
  background-color: var(--color-darkbackground);
}

.logo-fotter {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--color-white);
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  padding-bottom: 60px;
}
.address p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-white);
  font-style: normal;
  margin-bottom: 9px;
}

.address a {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .e-mail {
  text-decoration: underline;
}

.email-in-fotter {
  margin-bottom: 9px;
}

.logo-fotter:hover,
.logo-fotter:focus {
  color: var(--color-blue);
}

.address a:focus,
.address a:hover {
  color: var(--color-blue);
}

.join-us p {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.join-us ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.div2 {
  margin-left: 70px;
  padding-top: 72px;
  text-transform: uppercase;
}

.class-for-flex-in-footer {
  display: flex;
}

.icon {
  fill: currentColor;
}

.icon-in-fotter {
  fill: var(--color-white);
  padding: 12px;
}

.icon-in-fotter-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.icon-in-fotter-li {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-in-fotter-li > a:hover,
.icon-in-fotter-li > a:focus {
  border-radius: 50%;
  background-color: var(--color-blue);
  cursor: pointer;
  outline: none;
}

.icon-in-fotter-li > a {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.icon-in-fotter-li svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-in-fotter-li:hover svg,
.icon-in-fotter-li:focus svg {
  fill: var(--color-white);
}

.subscribe-in-fotter {
  margin-left: 78px;
  padding-top: 72px;
  text-transform: uppercase;
}

.subscribe-newsletter p {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}

.form-in-fotter {
  display: flex;
  gap: 12px;
}

.btn-subscribe {
  display: inline-flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-radius: 4px;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-white);
  cursor: pointer;
  outline: none;
  font-weight: 700;
}

.input-email {
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
}

.input-email-type:focus,
.input-email-type:hover {
  border-color: var(--color-blue);
}

.input-email-type {
  outline: none;
  transition-property: border-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[placeholder="E-mail"] {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--color-darkbackground);
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
}

.btn-subscribe svg {
  margin-left: 24px;
  margin-bottom: 13px;
  margin-top: 13px;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%) scale(0);
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 1s ease-in-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transition-property: visibility, transform;
  transition-duration: 5s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  visibility: visible;
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-in-modal > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  padding-top: 40px;
  padding-bottom: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form > label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--color-p);
}

.form-in-modal {
  max-width: 448px;
  margin: 0 auto;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

label > span {
  color: #757575;
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.privacy-statement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.privacy-statement > label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 7px;
}

.hidden-checkbox {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.checkbox {
  display: block;
  width: 16px;
  height: 15px;
  position: relative;
  border: 2px solid transparent;
  border-radius: 3px;
  border-color: #212121;
  transition-property: background-image, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-size: 15px 16px;
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--color-blue);
}

.statement-link {
  color: var(--color-blue);
}
.send-button {
  margin-left: 124px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

textarea:focus,
textarea:hover {
  border-color: var(--color-blue);
}
textarea:focus-within {
  border-color: var(--color-blue);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 36px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-in-input {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-right: 418px;
  left: 12px;
  top: 29px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + svg,
.contact-form-input:hover + svg {
  fill: var(--color-blue);
}

.contact-form-input:focus,
.contact-form-input:hover {
  border-color: var(--color-blue);
}

.form-label {
  position: relative;
}
